@model GreetingApp.Models.PersonViewModel

@{ 
    Layout = null;
}
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Greeting</title>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <h1>Hello, @Model.Name!</h1>
    </body>
</html>